.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  /* background-clip: padding-box; */
  width: 25%;
}

/* .my-masonry-grid_column_div {
  margin: 30px;
  max-width: 25%;
  height: auto;
  display: block;
  width: 100%;
  height: auto;
} */